@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f2f4fb;
}
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: orange;
}

::selection {
  color: white;
  background: orange;
}
